@use '../01_fundaments/variables';

.alert {
    padding: 10px;
    border-radius: variables.$radius-8;

    margin-left: variables.$margin-64;
    margin-right: variables.$margin-64;
    margin-top: variables.$margin-16;

    padding-top: variables.$padding-12;
    padding-bottom: variables.$padding-12;
    text-align: center;
}
.alert.success {
    background-color: #d4edda;
    color: #155724;
}
.alert.error {
    background-color: #f8d7da;
    color: #721c24;
}