@use '../01_fundaments/variables';

.primary-btn-darkblue {
    background-color: variables.$secondary-color;
    color: variables.$white;
    border: 2px solid variables.$secondary-color; 
}
.primary-btn-darkblue:hover {
    background-color: variables.$white; 
    color: variables.$secondary-color;
}
.primary-btn-border {
    background-color: variables.$white;
    border: 2px solid variables.$primary-color;
    color: variables.$primary-color;
}
.primary-btn-border:hover {
    background-color: variables.$primary-color;
    color: variables.$white;
}
.primary-btn-darkblue, .primary-btn-border {
    padding-top: variables.$padding-4;
    padding-bottom: variables.$padding-4;
    padding-left: variables.$padding-32;
    padding-right: variables.$padding-32;
    border-radius: variables.$radius-4;
}