@use '../01_fundaments/variables';

//PRIMARY BUTTON
.primary-btn.darkblue {
    background-color: variables.$secondary-color;
    color: variables.$white;
    border: 2px solid variables.$secondary-color; 
}
.primary-btn.darkblue:hover {
    background-color: variables.$white; 
    color: variables.$secondary-color;
    font-weight: 500;
}
.primary-btn.border {
    background-color: variables.$white;
    border: 2px solid variables.$primary-color;
    color: variables.$primary-color;
}
.primary-btn.border:hover {
    background-color: variables.$primary-color;
    color: variables.$white;
    font-weight: 500;
}
.primary-btn.darkblue, .primary-btn.border {
    padding-top: variables.$padding-4;
    padding-bottom: variables.$padding-4;
    padding-left: variables.$padding-32;
    padding-right: variables.$padding-32;
    border-radius: variables.$radius-4;
}

//ROUND BUTTON
.round-btn.darkblue {
    background-color: variables.$secondary-color;
    color: variables.$white;
    border: 2px solid variables.$secondary-color;

    padding-left: variables.$padding-16; 
    padding-right: variables.$padding-16;
    padding-top: variables.$padding-4;
    padding-bottom: variables.$padding-4;
    border-radius: variables.$radius-16;
}
.round-btn.darkblue:hover {
    background-color: variables.$white; 
    color: variables.$secondary-color;
    font-weight: 500;
}

//ICON BUTTON
.button-with-icon {
    display: flex; 
    align-items: center;
    gap: variables.$gap-8;
    background-color: variables.$white;
    border: 2px solid rgba(variables.$primary-color, 0.5);

    padding-left: variables.$padding-16; 
    padding-right: variables.$padding-16;
    padding-top: variables.$padding-8;
    padding-bottom: variables.$padding-8;
    border-radius: variables.$radius-16;
    color: variables.$secondary-color;

    img {
        width: 20px;
        height: 20px;
    }
}
.button-with-icon:hover {
    background-color: rgba(variables.$primary-color, 0.5); 
    font-weight: 500;
}

//LINKS
.back-link {
    display: inline-block;
    color: variables.$secondary-color; 
}
.back-link:hover {
    text-decoration: underline;
    color: variables.$secondary-color; 
}