@use '../01_fundaments/variables';

.icon-container {
    background-color: rgba(variables.$success-color, 0.2); 
    width: 70px; 
    height: 70px; 
    display:flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    img {
        width: 60%; 
        margin: 0; 
        padding: 0; 
    }
}