@use '../01_fundaments/variables';

.reserved-status {
    position: absolute;
    z-index: 10;

    padding: 4px 16px;
    border-radius: 999px;

    background: rgba(variables.$primary-color, 0.6); 
    p {
        margin: 0; 
        color: variables.$secondary-color; 
    }
}

.product-detail .reserved-status{
    top: 10px;
    left: 10px;
}

.product-card .reserved-status {
    top: 5px; 
    left: 5px; 
}