@use '../01_fundaments/variables';

.reserved-status {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;

    padding: 8px 16px;
    border-radius: 999px;

    background: rgba(variables.$main-grey, 0.8); 
    p {
        margin: 0; 
        color: black; 
    }
}