@use '../01_fundaments/variables';

.checkout {
    margin-top: variables.$margin-64;
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-64;  
}
.product-reserved {
    border: 2px solid variables.$primary-color-light; 
    padding: variables.$padding-24;
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-32; 
    border-radius: variables.$radius-16;
}
.product-reserved-top {
    display: flex; 
    gap: variables.$gap-32; 
    flex-direction: column;
    align-items: center;

}
.reservation-product-bottom {
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-16; 

    img {
        width: 20px; 
        height: 20px; 
    }
}
.reservation-product-info {
    border: 2px solid variables.$primary-color-light; 
    padding: variables.$padding-12; 
    border-radius: variables.$radius-16;
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-8; 

    .attributes {
        gap: variables.$gap-16; 
    }
}

.reservation-filters {
    display: flex; 
    margin: 0; 
    padding: 0; 
    gap: variables.$gap-16; 
}

.transport {
    border: 2px solid variables.$primary-color-light; 
    padding: variables.$padding-24;
    display: flex; 
    flex-direction: column;
    border-radius: variables.$radius-16;
}

.transport-options {
    display: flex; 
    flex-direction: column;
    width: 100%; 
    gap: variables.$gap-16; 
    margin-top: variables.$margin-32; 
}
.transport-option {
    border-radius: variables.$radius-16;
    border: 2px solid variables.$primary-color-light;
    display: flex; 
    justify-content: space-between;
    padding: variables.$padding-16;
    cursor: pointer; 
    gap: variables.$gap-16; 

    .body-sm {
        color: variables.$main-grey; 
    }
}
.transport-option-info p{
    font-size: 14px; 
}
.transport-option-text {
    display:flex; 
    gap: variables.$gap-16; 
}
.transport-option.selected {
    border: 2px solid variables.$secondary-color;

    .icon-wrapper {
        background-color: variables.$secondary-color; 

        img {
            filter: brightness(0) invert(1);
        }
    }
}

.icon-wrapper {
    background-color: variables.$primary-color-light; 
    max-width: 30px; 
    max-height: 30px; 
    border-radius: 50px;
    padding: variables.$padding-8; 
    display: flex; 
    align-items: center;
    justify-content: center;

    img {
        width: 90%; 
    }
}

.transport-output {
    display: none;
}

.transport-output.deliveryservice, .transport-output.selfpickup {
    padding-top: variables.$padding-48; 
    flex-direction: column;
    gap: variables.$gap-16; 
}
.deliveryservice-info {
    padding: variables.$padding-16; 
    border: 2px solid rgba(variables.$primary-color-light, 0.2); 
    background-color: rgba(variables.$primary-color-light, 0.5);
    border-radius: variables.$radius-16;

    .body-md, .body-sm {
        color: variables.$main-grey; 
    }
    .body-sm {
        font-size: 14px; 
        font-style: italic;
    }
}
.selfpickup-info {
    margin-top: variables.$margin-32; 
} 
.selfpickup-inputs {
    margin-bottom: variables.$margin-32; 
}
.selfpickup-inputs form{
    display:flex; 
    flex-direction: column;
    width: 100%; 
    gap: variables.$gap-16; 
}
.deliveryservice button {
    margin-top: variables.$margin-24; 
}
.selfpickup-info .form-field {
    width: 100%; 
    box-sizing: border-box;
}

.checkout .icon-and-title img{
    width: 25px; 
    height: 25px; 
}
.deliveryservice-info {
    display:flex; 
    flex-direction: row;
    align-items: flex-start;
    gap: variables.$gap-16; 
}


@media (min-width: 768px) {
    .product-reserved-top {
        flex-direction: row;
        align-items: left;
    }
    .reservation-product-bottom {
        flex-direction: row;
        gap: variables.$gap-32; 
    }
    .product-reserved {
        padding: variables.$padding-32;
        gap: variables.$gap-64; 
    }
    .reservation-product-info {
        width: 100%; 
    }
    .transport-options { 
        flex-direction: row;
        gap: variables.$gap-32; 
    }
    .transport-option {
        width: 100%; 
    }
    .transport {
        padding: variables.$padding-32;
    }
    .transport-option-info p{
        font-size: inherit; 
    }
    .selfpickup-inputs{
        display:flex; 
        flex-direction: row;
        gap: variables.$gap-32; 
    }
    
}


@media (min-width: 768px) and (max-width: 1023px) {
    .product-reserved {
        padding: variables.$padding-16;
        gap: variables.$gap-32; 
    }
    .reservation-product-bottom {
        gap: variables.$gap-16; 
    }
    .checkout .icon-container {
        width: 100px; 
        height: 70px; 
    }
}