@use '../01_fundaments/variables';

.create-product {
    padding-top: variables.$padding-64;

    .back-link {
        padding-bottom: variables.$padding-32;
    }
    padding-bottom: variables.$padding-32;
    margin: auto; 
}

.create-product-form {
    max-width: 700px; 
    background-color: variables.$white;    
    display: flex; 
    flex-direction: column;

    padding-left: variables.$padding-48; 
    padding-right: variables.$padding-48;
    padding-top: variables.$padding-48;
    padding-bottom: variables.$padding-48;

    gap: variables.$gap-32;

    margin-top: variables.$padding-32;

    border: 2px solid rgba(variables.$primary-color, 0.5);
    border-radius: variables.$radius-16;
}

.create-product-form textarea {
    margin-bottom: variables.$padding-32;
}

.current-images {
    display:flex; 
    gap: variables.$gap-16; 
    flex-wrap: wrap;
}
.current-images .preview-image-wrapper {
    width: calc(25% - 12px);
}