@use '../01_fundaments/variables';

.marketplace .section-header{
    padding-top: variables.$padding-32;
    padding-bottom: variables.$padding-32;
}
.marketplace-description {
    display: flex;
    flex-direction: column;
}
.search-container {
    background-color: variables.$white;
    border: 2px solid rgba(variables.$primary-color, 0.5);
    border-radius: 16px;
    padding: variables.$padding-16;
    display: flex;
    align-items: center;
    gap: variables.$gap-16;

    input {
        width: 100%;
        border: none; 
        background-color: #F1F3F7; 
        padding-top: variables.$padding-8;
        padding-bottom: variables.$padding-8;
        padding-left: variables.$padding-32;
        padding-right: variables.$padding-32;
        border-radius: variables.$radius-16;
    }
}
.marketplace-container {
    padding-top: variables.$padding-32;
    padding-bottom: variables.$padding-32;
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-32;

    .sidebar {
        min-width: 20%; 
        background-color: variables.$white;
        padding: variables.$padding-16;
        border: 2px solid rgba(variables.$primary-color, 0.5);
        border-radius: variables.$radius-16;
        height: max-content; 
    }
    .sidebar .round-btn {
        box-sizing: border-box;
        display:flex; 
        width: 100%; 
    }
}
.categories {
    margin-top: variables.$padding-32;
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-12;

    a {
        color: variables.$secondary-color; 
        padding-left: variables.$padding-16; 
        padding-right: variables.$padding-16; 
        padding-top: variables.$padding-8; 
        padding-bottom: variables.$padding-8; 
    }
    a.active-category, a:hover {
        background-color: variables.$primary-color-light; 
        border-radius: variables.$radius-16; 
        font-weight: 700; 
    }
}

.product-listing {
    display:grid; 
    grid-template-columns: 1fr;
    //grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: variables.$gap-32; 
    max-width: 100%;
    align-items: stretch; 
}
@media (min-width: 768px) and (max-width: 1023px) {
  div#product-listing {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
    div#product-listing {
    grid-template-columns: repeat(3, 1fr);
  }
}
.product-card {
    position: relative;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-16; 
    border: 2px solid rgba(variables.$primary-color, 0.5); 
    height: auto;
    border-radius: variables.$radius-16; 
    overflow: hidden; 
    width: 100%;
    background-color: variables.$white; 

    h6 {
        font-weight: 600; 
        color: variables.$secondary-color;
    }
    p {
        margin: 0; 
        padding: 0; 
    }

    img {
        max-width: 100%; 
        height: auto; 
    }
    .product-details {
        display:flex; 
        flex-direction: column;
        gap: variables.$gap-4; 
        padding-left: variables.$padding-16; 
        padding-right: variables.$padding-16; 
        padding-bottom: variables.$padding-24; 
    }
    .product-meta {
        display:flex; 
        gap: variables.$gap-16;
        color: rgba(variables.$primary-color, 0.8); 

        .meta-item {
            display: flex; 
            gap: variables.$gap-4; 
            align-items: center;
        }
        img {
            width: 15px; 
            height: 15px; 
        }
    }
}

@media (min-width: 768px) {
    .marketplace-description {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    .marketplace-container {
        flex-direction: row;
    }
}