@use '../01_fundaments/variables';

.profile-info {
    margin-top: variables.$margin-64; 
    border: 2px solid variables.$primary-color-light; 
    border-radius: variables.$radius-16; 
    padding: variables.$padding-16; 
}

.profile-top {
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-32; 

    a {
        align-self: center;
    }
}
.profile-picture {
    background: variables.$primary-color-light; 
    width: 30px; 
    height: 30px; 
    display:flex; 
    justify-content: center;
    align-items: center;
    padding-left: variables.$padding-16; 
    padding-right: variables.$padding-16; 
    padding-top: variables.$padding-12; 
    padding-bottom: variables.$padding-12; 
    border-radius: 50%; 

}
.profile-header {
    display: flex; 
    gap: variables.$gap-32; 
    align-items: center;
}
.profile-content {
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-4
}

.stat-cards {
    display: flex; 
    flex-direction: column;
    width: 100%; 
    margin-top: variables.$margin-24; 
    gap: variables.$gap-12; 
}
.stat-card {
    border: 2px solid variables.$primary-color-light; 
    padding: variables.$padding-12; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: variables.$radius-16; 
    gap: variables.$gap-4; 

    img {
        width: 25px; 
    }
    .subtitle {
        color: variables.$main-grey; 
    }
}

.reserve-messages {
    margin-top: variables.$margin-64; 

    .marketplace-description{
        flex-direction: row;
        justify-content: space-between;
    }
    .marketplace-description .notification-btn {
        box-sizing: border-box;
        height: fit-content;
    }
}
.reserve-message {
    border: 2px solid variables.$primary-color-light; 
    padding: variables.$padding-24; 
    border-radius: variables.$radius-16; 
    margin-top: variables.$margin-24; 
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-24; 
    width: 100%;
    box-sizing: border-box;
}
.reserve-message-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: inherit;
    text-decoration: none;
}
.reserve-message-link:hover {
    text-decoration: none;
}
.reservation-info {
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-8; 
}
.profile-actions a {
    display: inline-block;
}

.reservation-content {
    display:flex; 
    flex-direction: column;
    align-items: center;
    gap:variables.$gap-24; 

    img {
        width: 100%; 
    }

    .profile-picture {

        img {
            width: 100%; 
        }
    }
    .reserve-message-info {
        display:flex; 
        flex-direction: column;
        gap: variables.$gap-4; 
    }
}
.reservation-action {
    display:flex; 
    flex-direction: row;
    gap: variables.$gap-8; 
    align-items: flex-end;
    justify-content: center;
}

.profile-page {

    .body-sm {
        font-size: 14px; 
    }
    .section-header {
        padding-bottom: variables.$padding-4; 
    } 
    .profile-picture {
        width: 40px; 
        height: 45px; 
    }
}

.reservation-message {
    padding-top: variables.$padding-8; 
    padding-bottom: variables.$padding-8; 
    padding-left: variables.$padding-24; 
     padding-right: variables.$padding-24; 
    background-color: variables.$primary-color-light;
    border-radius: variables.$radius-16; 
    margin-top: variables.$margin-16; 
    width: fit-content; 
    font-style: italic;
}
.profile-page .attributes {
    flex-direction: column;
    gap: variables.$gap-8; 
}

.reserve-message .notification-btn {
    width: 100%; 
    text-align: center;
}

.confirmation-step {
    border: 2px solid variables.$primary-color-light; 
    border-radius: variables.$radius-16; 
    padding: variables.$padding-24; 
    background-color: variables.$primary-color-light; 

}
.delivery-confirmation-info {
    display:flex; 
    justify-content: space-between;
    border-bottom: 1px solid variables.$primary-color-light;
    margin-bottom: variables.$margin-8;  

    .body-md.title {
        color: variables.$primary-color; 
    }
    .body-lg {
        color: variables.$secondary-color; 
    }
}
.delivery-confirmation {
    margin-top: variables.$margin-24; 
}

.confirm-reservation-action {
    display:flex; 
    justify-content: space-between;
    margin-top:variables.$margin-32; 
}

.myproducts {
    margin-top:variables.$margin-64; 

    .section-header{
        margin-bottom: variables.$margin-32; 
    }
}

@media (min-width: 768px) {
    .profile-page .attributes {
        flex-direction: row;
        gap: variables.$gap-16; 
    }
    .profile-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .profile-info {
        padding: variables.$padding-32; 
    }
    .reserve-message {
        flex-direction: row;
        justify-content: space-between;
    }
    .reservation-action {
        flex-direction: column;
    }
    .stat-cards {
        flex-direction: row;
        justify-content: space-between;
        margin-top: variables.$margin-48; 
        gap: 0; 
        margin-top: variables.$margin-48; 
    }
    .stat-card {
        width: 25%; 
        gap: variables.$gap-12; 
    }
    .reservation-content {
        flex-direction: row;

        img {
            width: 120px; 
        }
    }
}