@use '../01_fundaments/variables';

.profile-info {
    margin-top: variables.$margin-64; 
    border: 2px solid variables.$primary-color-light; 
    border-radius: variables.$radius-16; 
    padding: variables.$padding-32; 
}

.profile-top {
    display: flex; 
    justify-content: space-between;
    align-items: center;

    a {
        align-self: center;
    }
}
.profile-picture {
    background: variables.$primary-color-light; 
    width: fit-content; 
    padding-left: variables.$padding-16; 
    padding-right: variables.$padding-16; 
    padding-top: variables.$padding-12; 
    padding-bottom: variables.$padding-12; 
    border-radius: 50%; 
}
.profile-header {
    display: flex; 
    gap: variables.$gap-32; 
    align-items: center;
}
.profile-content {
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-4
}

.stat-cards {
    display: flex; 
    justify-content: space-between;
    margin-top: variables.$margin-48; 
}
.stat-card {
    width: 25%; 
    border: 2px solid variables.$primary-color-light; 
    padding: variables.$padding-12; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: variables.$radius-16; 
    gap: variables.$gap-12; 

    img {
        width: 25px; 
    }
    .subtitle {
        color: variables.$main-grey; 
    }
}

.reserve-messages {
    margin-top: variables.$margin-64; 
}
.reserve-message {
    border: 2px solid variables.$primary-color-light; 
    padding: variables.$padding-24; 
    border-radius: variables.$radius-16; 
    margin-top: variables.$margin-24; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.reservation-info, .reservation-action {
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-8; 
}

.profile-page {

    .grey {
        color: variables.$main-grey; 
    }
    .body-sm {
        font-size: 14px; 
    }
    .section-header {
    padding-bottom: variables.$padding-4; 
    } 
}

.reservation-message {
    padding-top: variables.$padding-8; 
    padding-bottom: variables.$padding-8; 
    padding-left: variables.$padding-24; 
     padding-right: variables.$padding-24; 
    background-color: variables.$primary-color-light;
    border-radius: variables.$radius-16; 
    margin-top: variables.$margin-16; 
    width: fit-content; 
}