@use '../01_fundaments/variables';

.reservations-index {
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-48; 
    margin-top: variables.$margin-48; 

    h2 {
        font-weight: 600; 
    }
    .section-header {
        padding-bottom: 0px; 
    }
    .reserve-info {
        display:flex; 
        flex-direction: column;
        gap: variables.$gap-12; 
    }
    .reserve-messages {
        margin-top: 0; 
    }
    .icon-and-title img{
        width: 20px; 
        height: 20px; 
    }
    .accepted-reservation h5 {
        color: variables.$success-color; 
    }
    .accepted-reservation .body-sm, .rejected-reservation .body-sm {
        color: variables.$main-grey; 
    }
    .rejected-reservation h5{
        color: variables.$error-color; 
    }
}

.product-reserved-image {
    width: 100px; 
    height: auto; 
    border-radius: variables.$radius-16; 
}

.edit-delivery-moment {
    color: variables.$error-color !important;  
}

@media (min-width: 768px) {
    .reservations-index {
        margin-top: variables.$margin-48; 
    }

}
