@use '../01_fundaments/variables';

.create-reservation {
    margin-top: variables.$margin-64;

    h2 {
        font-weight: 600; 
    }

    .back-link {
        margin-bottom: variables.$margin-32;
    }

    .reserve-product {
        display: flex;
        flex-direction: column;
        gap: variables.$gap-16;
        width: 100%;

        .reservation-sidebar {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .product-overview,
        .user-info,
        .reserve-form-container {
            border: 3px solid variables.$primary-color-light;
            border-radius: variables.$radius-16;
            box-sizing: border-box;
        }

        .product-overview {
            overflow: hidden;

            .product-detail-main-image {
                display: block;
                width: 100%;
                height: auto;
                border: none;
                border-radius: 0;
            }

            .product-info {
                display: flex;
                flex-direction: column;
                gap: variables.$gap-4;
                padding: variables.$padding-24;

                h3,
                h5 {
                    color: variables.$secondary-color;
                }

                .attributes {
                    margin-top: variables.$margin-16;
                }
            }
        }

        .user-info {
            padding: variables.$padding-24;
            background-color: white; 
            flex-direction: column;
            gap: variables.$gap-4; 

            h5 {
                color: variables.$secondary-color;
            }
        }

        .reserve-form-container {
            width: 100%;
            padding: variables.$padding-24;
            align-self: flex-start;

            .reserve-form {
                display: flex;
                flex-direction: column;
                gap: variables.$gap-32;
                width: 100%;

                .form-field {
                    width: 100%;
                }

                .round-btn {
                    align-self: flex-start;
                }
            }
        }
    }
}

.view-product, .create-reservation {
    margin-top: variables.$margin-64; 
}

.reservation-confirmed  {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: variables.$gap-24; 
    padding: variables.$padding-24; 

    p {
        color: variables.$main-grey; 
        text-align: center;
    }
}

@media (min-width: 768px) {
    .reserve-product {
        flex-direction: row !important;
    }
    .reservation-sidebar {
        width: 35% !important;
    }
    .create-reservation {
        .reserve-product {
            gap: variables.$gap-32; 
        }
        .user-info {
            margin-top: variables.$margin-24; 
        }
    }
    .reserve-form-container {
        width: 65%;
    }
}