@use '../01_fundaments/variables';

.view-product {

    h3 {
        color: variables.$secondary-color; 
    }
    .body-sm{
        font-size: 14px; 
        font-weight: 300; 
        color: variables.$main-grey;
    }
}
.product-detail {
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-32; 
    margin-top: variables.$margin-64; 
}

.product-detail-media {
    display:flex; 
    flex-direction: column;
    gap: variables.$gap-8; 
    position: relative; 

    img {
        max-width: 100%;
    }
}
.product-detail-content {
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-32; 

}
.product-detail-header {
    display:flex; 
    flex-direction: column;
    gap: variables.$gap-8; 

    h2 {
        font-weight: 600; 
    }
    .body-md {
        color: variables.$main-grey; 
    }
}

.product-actions {
    display:flex; 
    flex-direction: column;
    gap:variables.$gap-16; 
}


//images
.product-detail-thumbnails {
    display: flex; 
    gap: variables.$gap-12; 
}
.product-detail-image {
    width: 100px;
    height: 100px;
}
.product-detail-main-image {
    border-radius: variables.$radius-16;
}
.product-detail-image {
    border-radius: variables.$radius-8; 
}
.product-detail-main-image, .product-detail-image {
    border: 2px solid variables.$primary-color-light; 
}

.attributes {
    display: flex; 
    gap: variables.$gap-24; 
    color: variables.$main-grey; 
}

.single-attribute, .user-details {
    display: flex; 
    gap: variables.$gap-8; 
    align-items: center;

    img {
        width: 15px; 
        height: 15px; 
    }
}
.user-details {
    flex-direction: column;
    border: 2px solid variables.$primary-color-light; 
    padding-left: variables.$padding-24; 
    padding-right: variables.$padding-24; 
    padding-top: variables.$padding-12; 
    padding-bottom: variables.$padding-12; 
    border-radius: variables.$radius-8; 
}

.related-products-block {
    display: flex; 
    flex-direction: column;
    gap: variables.$gap-32; 
}
/*
.related-products {
    display: flex !important; 
    width: 100% !important; 
    gap: variables.$gap-32; 
    align-items: center;
}

.related-products .product-card-link {
    flex: 1 1 0;
    min-width: 0;
}*/
.product-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.related-products {
    overflow: hidden;
    display:flex; 
    flex-direction: column;
    gap: variables.$gap-32; 
}

.related-products-swiper {
    width: 100%;
}

.related-products-swiper .swiper-slide {
    height: auto;
}

.related-products-swiper .product-card-link {
    display: block;
    height: 100%;
}

.related-products-swiper .product-card {
    height: 100%;
}

.product-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.product-card .product-meta {
    margin-top: variables.$margin-8; 
    flex-direction: column;
    gap: variables.$gap-4; 
}

@media (min-width: 768px) {
    .product-detail {
        flex-direction: row;
    }
    .product-detail-content {
        flex: 0 0 60%;
    }
    .product-detail-media {
         flex: 0 0 40%;
    }
    .product-card .product-meta {
        flex-direction: row;
    }
}