@use '../01_fundaments/variables';

.auth-container {
    position: relative;

    .background {
        background-color: variables.$primary-color-light; 
        position: absolute; 
        padding-top: 250px;
        margin-top: -140px;
        margin-left: -64px;
        z-index: -1;

        img {
            height: 70%;
            width: 70%; 
        }
    }
}