@use '../01_fundaments/variables';

.auth-container {
    position: relative;
    z-index: -2;

    .background {
        background-color: variables.$primary-color-light; 
        margin-top: -140px;
        padding: -20px; 
        margin-left: -16px;
        margin-right: -16px;
        padding-top: 5%;

        img {
            width: 30%; 
        }
    }
}

.form-container {
    display: flex; 
    flex-direction: column;
    margin-left: auto; 
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: variables.$gap-32;
}
.auth-redirect {
    display: flex; 
    gap: variables.$gap-8; 
    align-items: center;
    padding-top: variables.$padding-32; 
    padding-bottom: variables.$padding-24; 

    .back-link h6 {
        font-weight: 600; 
    }
}

.form-field.error label {
    color: variables.$error-color;
}

.form-field.error input {
    border: 2px solid variables.$error-color;
}

@media (min-width: 768px) {
    .auth-container {
    position: relative;

    .background {
        position: absolute; 
        padding-top: 20%;
        margin-top: -140px;
        margin-left: -64px;
        width: 45%; 

        img {
            height: 70%;
            width: 70%; 
        }
    }
    .form-container {
        width: 55%; 
    }
    .auth-redirect {
        padding-top: variables.$padding-64; 
    }
}
}
//tablet 
@media (min-width: 768px) and (max-width: 1023px) {
    .auth-container .background {
        padding-top: 40%;
    }
}
//desktop
@media (min-width: 1024px) {
    .auth-container .background {
        padding-top: 20%; 
    }
}