@use '../01_fundaments/variables';

.footer {
    margin-top: variables.$margin-64; 
    background-color: variables.$primary-color;
    padding: variables.$padding-64; 
    display:flex; 
    flex-direction: row;
    gap:variables.$gap-32; 

    .deskdeal-info {
        display:flex; 
        flex-direction: column;
        gap: variables.$gap-8; 
    }
    h4 {
        color: variables.$secondary-color; 
    }
    .subtitle {
        color: variables.$secondary-color; 
        font-weight: 800; 
        margin-bottom: variables.$margin-12; 
    }
    .body-md {
        color: variables.$white; 
    }
    .footer-part-one, .footer-part-two {
        width: 50%; 
        display: flex; 
        flex-direction: column;
        gap: variables.$gap-48; 
    }
    .links a, .footer-part-two a {
        margin: 0; 
        margin-bottom: variables.$margin-8; 
        padding: 0; 
    }
}