@use '../01_fundaments/variables';

.checkout-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step.active span {
    background: #000;
    color: #fff;
    border-color: #000;
}

.step.completed span {
    background: green;
    color: white;
    border-color: green;
}

.step-line {
    width: 100px;
    height: 2px;
    background: #ccc;
    margin: 0 15px;
}