@use '../01_fundaments/variables';

.checkout-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    justify-content: space-between;

    .subtitle{
        font-size: 14px; 
        color: variables
    }
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: variables.$gap-8; 
}

.step span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: variables.$primary-color-light; 
    color: variables.$primary-color; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.step.active {

    span {
        background: variables.$secondary-color;
        color: variables.$white;
        border: none; 
    }
    .subtitle {
        color: variables.$secondary-color; 
    }
}

.step.completed span {
    background: green;
    color: white;
    border-color: green;
}

.step-line {
    width: auto;
    height: 2px;
    background: variables.$primary-color-light;
    margin: 0 15px;
    flex-grow: 1; 
}