@use '../01_fundaments/variables';

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    width: 100%; 
    box-sizing: border-box;
}
.content {
    padding-left: variables.$padding-16;
    padding-right: variables.$padding-16;

    //vanaf tablet
    @media (min-width: 768px) and (max-width: 1023px) {
        padding-left: variables.$padding-32; 
        padding-right: variables.$padding-32;
    }
    //vanaf desktop
    @media (min-width: 1024px) {
        padding-left: variables.$padding-64; 
        padding-right: variables.$padding-64;
    }
}

.section-header {
    gap: variables.$gap-12;
    display: flex;
    flex-direction: column;
    padding-bottom: variables.$padding-32;

    .body-sm {
        color: variables.$main-grey; 
    }
}

.info-block{
    margin-top: variables.$margin-64; 
    border: 2px solid variables.$primary-color-light; 
    padding: variables.$padding-16; 
    border-radius: variables.$radius-16; 

    iframe {
        margin-top: variables.$margin-24; 
        height: 350px; 
        width: 100%; 
        border-radius: variables.$radius-16; 
        border: 0; 
    }
}


@media (min-width: 768px) {
    .info-block{
        padding: variables.$padding-32; 
    }
}

.icon-and-title {
    display: flex; 
    align-items: center;
    gap: variables.$gap-12; 

    img {
        width: 2%; 
        height: auto; 
    }
}