@use '../01_fundaments/variables';

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
.content {
    padding-left: variables.$padding-16;
    padding-right: variables.$padding-16;

    //Vanaf mobile
    @media (min-width: 768px) {
        padding-left: variables.$padding-64; 
        padding-right: variables.$padding-64;
    }
}

.section-header {
    gap: 0;
    display: flex;
    flex-direction: column;
}