@use '../01_fundaments/variables';

h1, h2, h3, h4, h5, h6 {
    margin: 0; 
    padding: 0;
}

h1 {
    font-family: variables.$primary-font;
    font-weight: 600;
    font-size: 50px;
}
h2 {
    font-family: variables.$primary-font;
    color: variables.$secondary-color;
    font-size: 40px;
    font-weight: 400; 
}
h3 {
    font-family: variables.$primary-font;
    font-size: 30px; 
    font-weight: 600; 
}
h4 {
    font-family: variables.$primary-font;
    font-weight: 600;
    font-size: 20px;

    @media (min-width: 768px) {
        font-size: 25px; 
    }
}
h5 {
    font-family: variables.$primary-font; 
    font-weight: 600; 
    font-size: 20px; 
}
h6, .h6 {
    font-family: variables.$primary-font;
    font-weight: 400; 
    font-size: 18px; 
}
.subtitle {
    font-family: variables.$secondary-font;
    color: variables.$primary-color;
    font-size: 16px; 
    font-weight: 700; 
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.body-lg {
    font-family: variables.$primary-font;
    font-size: 20px;
    font-weight: 400; 
}
.body-md{
    font-family: variables.$primary-font;
    font-size: 18px;
    font-weight: 400;
}
.body-sm {
    font-family: variables.$secondary-font;
    font-size: 15px;
    font-weight: 500;
}
p {
    font-family: variables.$primary-font; 
    font-size: 14px; 
}
label{
    font-family: variables.$primary-font;
    font-size: 16px;
    font-weight: 500;
}
.checkbox-label {
    font-family: variables.$primary-font;
    font-size: 14px; 
    font-style: italic;
    font-weight: 400; 
    color: variables.$main-grey; 
}
input::placeholder, input, textarea, select  {
    font-family: variables.$primary-font;
    font-size: 15px; 
    font-weight: 400;
 }
input::placeholder, select {
    color: rgba(variables.$primary-color, 0.7);
}
a {
    color: inherit;  
    text-decoration: none;
}
p {
    font-family: variables.$primary-font;
    font-size: 13px; 
}

.info-message {
    font-family: variables.$secondary-font;
    font-size: 16px; 
    letter-spacing: 0.05em;
    color: rgba(variables.$primary-color, 0.7); 
}

//OVERALTOEGEPAST
h1, h2, h3, h4, h5, h6, .subtitle, .body-lg, .body-md, .body-sm, p {
    margin: 0; 
    padding: 0;
}
.marketplace h2, .create-product h2 {
    font-weight: 600;
}
